*.DS_Store
# add the folder powermetric/__pycache__
powermetric/__pycache__/*
# add the folder data
*.gz
M1chip/Third_part/data/FashionMNIST/raw/*
*.pth
GPU/universal/gpu_power_usage.csv
GPU/data/cifar-100-python/*
GPU/universal/__pycache__/*
# GPU/Alexnet_linux/**/*.npy
M1/**/*.npy
# GPU/universal/Previous_data/*/*/*.npy
# GPU/universal/Data/**/*.npy
Cloud/4090/data/*
PVWatts/code/__pycache__/*
Cloud/4090/code/gpu_power_usage.csv
Cloud/3060_95W/code/gpu_power_usage.csv
__pycache__/
