*.DS_Store
*.pdf
GPU_Performance/Local/4070/data/*
GPU_Performance/Local/M1/M1chip/Third_part/data/*
GPU_Performance/Local/M3/data/*
Optimization/*/*/*.csv
**/__pycache__/
.cursorrules
GPU_Performance/Cloud/AutoDL_Version2/data/*
